<div class="container">
	<img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
	<div class="jumbotron">
		<h3>Queremos ouvir o que voce tem a dizer</h3>
		<p>
			Se voce tiver alguma duvida ou sugestao fale conosco
		</p>
		<p>
			<span>
				<img src="~/images/Envelope-icon24.png" />
			</span>
			<h5><email endereco="marciomazeu@hotmail.com" conteudo="Enviar um email"></email></h5>
			<br />
			<span>
				<img src="~/images/phone-app-icon.png" />
			</span>
			<h5>(12) 99766-8881</h5>
			<br />
			<span>
				<img src="~/images/Home-iconred.png" />
			</span>
			<h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
		</p>
	</div>
</div>